html{
    font-family: 'HelveticaNeueW01-87HvCnObl', Helvetica, sans-serif;
    color: #FFF;
}

h1{
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

h2{
    margin-right: 30px;
    line-height: 10px;
	text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.shadow{
	text-shadow: 0 0 5px #000;
	height: 25px;
	color: #FFF;
}

.w3-light-grey{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	height: 25px;
	font-family: 'HelveticaNeueW01-87HvCnObl', Helvetica, sans-serif;
	font-size: 110%;
	margin-bottom: 10px;
}

#allusers{
	font-style: italic;
	font-weight: bold;
	transition: 0.3s;
	padding-bottom: 10px;
}
